In [2]:
import numpy as np

1. Create a null vector of size 10.

In [ ]:
arr = np.zeros(10)
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
np.zeros_like(arr)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

2. How to find the memory size of any array?

In [ ]:
arr = np.zeros((10,10),dtype=np.int64)

In [ ]:
arr

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [ ]:
print(f"{arr.size*arr.itemsize} bytes")

800 bytes

3. How to get the documentation of the numpy add function from the command line?

In [ ]:
help(np.zeros)

Help on built-in function zeros in module numpy:

zeros(...)
    zeros(shape, dtype=float, order='C', *, like=None)

    Return a new array of given shape and type, filled with zeros.

    Parameters
    ----------
    shape : int or tuple of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: 'C'
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        Array of zeros with the given shape, dtype, and order.

    See Also
    --------
    zeros_like : Return an array of zeros with shape and type of input.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    full : Return a new array of given shape filled with value.

    Examples
    --------
    >>> np.zeros(5)
    array([ 0.,  0.,  0.,  0.,  0.])

    >>> np.zeros((5,), dtype=int)
    array([0, 0, 0, 0, 0])

    >>> np.zeros((2, 1))
    array([[ 0.],
           [ 0.]])

    >>> s = (2,2)
    >>> np.zeros(s)
    array([[ 0.,  0.],
           [ 0.,  0.]])

    >>> np.zeros((2,), dtype=[('x', 'i4'), ('y', 'i4')]) # custom dtype
    array([(0, 0), (0, 0)],
          dtype=[('x', '<i4'), ('y', '<i4')])

In [ ]:
help(np.add)

Help on ufunc:

add = <ufunc 'add'>
    add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature])

    Add arguments element-wise.

    Parameters
    ----------
    x1, x2 : array_like
        The arrays to be added.
        If ``x1.shape != x2.shape``, they must be broadcastable to a common
        shape (which becomes the shape of the output).
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_like, optional
        This condition is broadcast over the input. At locations where the
        condition is True, the `out` array will be set to the ufunc result.
        Elsewhere, the `out` array will retain its original value.
        Note that if an uninitialized `out` array is created via the default
        ``out=None``, locations within it where the condition is False will
        remain uninitialized.
    **kwargs
        For other keyword-only arguments, see the
        :ref:`ufunc docs <ufuncs.kwargs>`.

    Returns
    -------
    add : ndarray or scalar
        The sum of `x1` and `x2`, element-wise.
        This is a scalar if both `x1` and `x2` are scalars.

    Notes
    -----
    Equivalent to `x1` + `x2` in terms of array broadcasting.

    Examples
    --------
    >>> np.add(1.0, 4.0)
    5.0
    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> np.add(x1, x2)
    array([[  0.,   2.,   4.],
           [  3.,   5.,   7.],
           [  6.,   8.,  10.]])

    The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> x1 + x2
    array([[ 0.,  2.,  4.],
           [ 3.,  5.,  7.],
           [ 6.,  8., 10.]])

In [ ]:
np.info(np.add)

add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature])

Add arguments element-wise.

Parameters
----------
x1, x2 : array_like
    The arrays to be added.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
add : ndarray or scalar
    The sum of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` + `x2` in terms of array broadcasting.

Examples
--------
>>> np.add(1.0, 4.0)
5.0
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.add(x1, x2)
array([[  0.,   2.,   4.],
       [  3.,   5.,   7.],
       [  6.,   8.,  10.]])

The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 + x2
array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])

4.  Create a null vector of size 10 but the fifth value which is 1.

In [ ]:
arr = np.zeros(10)
arr[4] = 1

In [ ]:
arr

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

5. Create a vector with values ranging from 10 to 49.

In [ ]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

The key differences are:
1. np.arange uses the step parameter to determine the spacing and the number of elements, while np.linspace uses the num parameter to determine the number of elements and calculates the spacing accordingly.
2. np.arange excludes the stop value by default, while np.linspace includes it by default (can be excluded by setting endpoint=False).
3. np.arange can generate integer or floating-point values depending on the inputs, whereas np.linspace typically generates floating-point values.
4. Use np.arange when the step size between values is more important. Use np.linspace when the number of evenly spaced points is needed.

In [ ]:
np.linspace(10,50,40,endpoint=False,dtype=int)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

5. Reverse a vector (first element becomes last).

In [ ]:
arr = np.arange(10)

In [ ]:
# The syntax for slicing is arr[start:stop:step].
arr[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

6. Create a 3x3 matrix with values ranging from 0 to 8.

In [ ]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

7. Find indices of non-zero elements from [1,2,0,0,4,0].

In [ ]:
np.nonzero([1,2,0,0,4,0])

(array([0, 1, 4]),)

8. Create a 3x3 identity matrix

In [ ]:
np.eye(3,2)

array([[1., 0.],
       [0., 1.],
       [0., 0.]])

In [ ]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
np.eye(2,3)

array([[1., 0., 0.],
       [0., 1., 0.]])

9. Create a 3x3x3 array with random values.

In [ ]:
np.random.random((3,3,3))

array([[[0.07671683, 0.18088219, 0.60989242],
        [0.63621408, 0.2363997 , 0.18020315],
        [0.13225822, 0.97141367, 0.87631841]],

       [[0.40013049, 0.18689307, 0.72004113],
        [0.38239193, 0.88517978, 0.78996767],
        [0.38400972, 0.36458882, 0.33038183]],

       [[0.69299587, 0.92694408, 0.11513327],
        [0.9258825 , 0.06514477, 0.08206842],
        [0.84175552, 0.69102569, 0.73308562]]])

10. Create a 10x10 array with random values and find the minimum and maximum values.

In [ ]:
arr = np.random.random((10,10))

In [ ]:
arr

array([[0.4406473 , 0.45386648, 0.36061788, 0.28098385, 0.7564729 ,
        0.77397362, 0.18607731, 0.71025522, 0.03192065, 0.17595799],
       [0.29950471, 0.01189598, 0.82343998, 0.29215962, 0.69053234,
        0.56275659, 0.28370962, 0.95307935, 0.48217689, 0.35952762],
       [0.61170969, 0.67606863, 0.79586105, 0.83441553, 0.42950982,
        0.12315551, 0.76111261, 0.51580848, 0.55692986, 0.47152309],
       [0.20198708, 0.82454541, 0.66485029, 0.91589541, 0.08410262,
        0.00367401, 0.81587155, 0.3997792 , 0.81085886, 0.56184624],
       [0.90053056, 0.99658989, 0.05615752, 0.03565059, 0.12885976,
        0.41914753, 0.41096177, 0.62707468, 0.79888629, 0.36912685],
       [0.59552461, 0.27714393, 0.41345831, 0.73112756, 0.75866046,
        0.34706262, 0.61852643, 0.64645203, 0.13244539, 0.47685386],
       [0.3612673 , 0.57065169, 0.12934248, 0.58674013, 0.30685283,
        0.0310918 , 0.71056537, 0.12447853, 0.66013834, 0.25161654],
       [0.18460711, 0.60408152, 0.30187648, 0.37158106, 0.83823364,
        0.15673389, 0.78012404, 0.8752438 , 0.57790641, 0.65894128],
       [0.81531726, 0.6873139 , 0.45057055, 0.01801351, 0.25347484,
        0.33420355, 0.35090486, 0.62484426, 0.97884918, 0.14568503],
       [0.64050848, 0.87485714, 0.9205888 , 0.03977356, 0.86831695,
        0.37148305, 0.6983759 , 0.88911788, 0.05274393, 0.32376838]])

In [ ]:
arr.max()

np.float64(0.9965898901386149)

In [ ]:
arr.min()

np.float64(0.0036740055663946336)

11. Create a random vector of size 30 and find the mean value.

In [ ]:
vec = np.random.random(30)

In [ ]:
vec

array([0.0222878 , 0.17525417, 0.65588307, 0.4832006 , 0.0808181 ,
       0.97723345, 0.89969066, 0.77151486, 0.41646226, 0.9980114 ,
       0.3093511 , 0.67191357, 0.64920461, 0.20776265, 0.09181144,
       0.58737684, 0.93192853, 0.05206424, 0.45887458, 0.57925682,
       0.24246736, 0.49601539, 0.7656158 , 0.37127755, 0.61864353,
       0.26683654, 0.17031396, 0.15774019, 0.72713313, 0.26106736])

In [ ]:
vec.mean()

np.float64(0.4699003854402902)

In [ ]:
np.mean(vec)

np.float64(0.4699003854402902)

12. Create a 2d array with 1 on the border and 0 inside.

In [ ]:
arr = np.ones((4,4))

In [ ]:
arr

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [ ]:
arr[1:-1,1:-1] = 0

In [ ]:
arr

array([[1., 1., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.]])

13.  How to add a border (filled with 0's) around an existing array?

In [ ]:
arr = np.ones((5,5))

In [ ]:
np.pad(arr,pad_width = 1, mode='constant',constant_values=0)

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

14. What is the result of the following expression?

In [ ]:
print(0 * np.nan)
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(np.nan in set([np.nan]))
print(0.3 == 3 * 0.1)

nan
False
False
nan
True
False

15. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal.

In [ ]:
np.diag(1+np.arange(4),k=-1)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

16.Create a 8x8 matrix and fill it with a checkerboard pattern.

In [ ]:
arr = np.zeros((8,8))

In [ ]:
arr[::2,::2] = 1

In [ ]:
arr[1::2,1::2] = 1

In [ ]:
arr

array([[1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.]])

17. Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element?

In [ ]:
print(np.unravel_index(100,(6,7,8)))

(np.int64(1), np.int64(5), np.int64(4))

18. Create a checkerboard 8x8 matrix using the tile function.

In [ ]:
np.tile([[1,0],[0,1]],(4,4))

array([[1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1]])

19. Normalize a 5x5 random matrix.

In [ ]:
arr = np.random.random((5,5))

In [ ]:
arr = (arr - arr.mean())/np.std(arr)

In [ ]:
arr

array([[ 1.35188439, -0.90583948, -1.3402433 ,  0.40047906,  0.78138043],
       [ 0.82345732, -0.54906029, -0.51199634,  0.31595871,  0.9382088 ],
       [ 1.00473118,  0.98834895, -0.69785647,  0.5142281 , -1.4081609 ],
       [ 0.23789086, -2.03785521, -0.77954041, -1.78961166,  0.66429641],
       [ 1.38383122,  0.74522233,  1.05715725, -0.80418461, -0.38272633]])

In [ ]:
arr.std()

np.float64(1.0)

20.  Multiply a 5x3 matrix by a 3x2 matrix (real matrix product).

In [ ]:
A = np.arange(15).reshape((5,3))

In [ ]:
B = np.arange(6).reshape(3,2)

In [ ]:
np.dot(A,B)

array([[ 10,  13],
       [ 28,  40],
       [ 46,  67],
       [ 64,  94],
       [ 82, 121]])

In [ ]:
A * A

array([[  0,   1,   4],
       [  9,  16,  25],
       [ 36,  49,  64],
       [ 81, 100, 121],
       [144, 169, 196]])

21. Given a 1D array, negate all elements which are between 3 and 8, in place.

In [ ]:
arr = np.arange(10)

In [ ]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr[(arr>3) & (arr <8)] *= -1

In [ ]:
arr

array([ 0,  1,  2,  3, -4, -5, -6, -7,  8,  9])

22. What is the output of the following script?

In [150]:

print(sum(range(5)))

10

In [ ]:
sum(range(5),-1)

np.int64(10)

23. Consider an integer vector Z, which of these expressions are legal?

* Z**Z
* 2 << Z >> 2
* Z <- Z
* 1j*Z
* Z/1/1
* Z < Z > Z

In [171]:
Z =  np.arange(5)

![image.png]()

In [156]:
Z**Z

ValueError: Integers to negative integer powers are not allowed.

In [175]:
2 << Z

array([ 2,  4,  8, 16, 32])

In [176]:
Z >>2

array([0, 0, 0, 0, 1])

In [179]:
Z >- Z

array([False,  True,  True,  True,  True])

In [181]:
Z<Z

array([False, False, False, False, False])

In [182]:
Z/1

array([0., 1., 2., 3., 4.])

In [185]:
Z/2/2

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

24. What are the result of the following expressions?
* print(np.array(0) / np.array(0))
* print(np.array(0) // np.array(0))
* print(np.array([np.nan]).astype(int).astype(float))

In [191]:
print(np.array(0) / np.array(0))

nan

<ipython-input-191-a69a51a14444>:1: RuntimeWarning: invalid value encountered in divide
  print(np.array(0) / np.array(0))

In [192]:
print(np.array(0) // np.array(0))

0

<ipython-input-192-e29d1dbbd607>:1: RuntimeWarning: divide by zero encountered in floor_divide
  print(np.array(0) // np.array(0))

In [190]:
print(np.array([np.nan]).astype(int).astype(float))

[-9.22337204e+18]

<ipython-input-190-8ac629ca88a6>:1: RuntimeWarning: invalid value encountered in cast
  print(np.array([np.nan]).astype(int).astype(float))

25. How to round away from zero a float array?

In [201]:
Z = np.random.uniform(-10,+10,10)
np.copysign(np.ceil(np.abs(Z)),Z)

array([ 7.,  2., -7., 10.,  7.,  7.,  9., -6.,  3., 10.])

In [202]:
Z = np.array([1.2,-3.2])
np.copysign(np.ceil(np.abs(Z)),Z)

array([ 2., -4.])

26. How to find common values between two arrays?

In [207]:
Z1 = np.random.randint(0,10,10)
Z2 = np.random.randint(0,10,10)
print(np.intersect1d(Z1,Z2))

[4 6 7 8]

27. Is the following expressions true?

np.sqrt(-1) == np.emath.sqrt(-1)

In [208]:
np.sqrt(-1) == np.emath.sqrt(-1)

<ipython-input-208-16339fbc685e>:1: RuntimeWarning: invalid value encountered in sqrt
  np.sqrt(-1) == np.emath.sqrt(-1)

np.False_

In [209]:
np.sqrt(-1)

<ipython-input-209-597592b72a04>:1: RuntimeWarning: invalid value encountered in sqrt
  np.sqrt(-1)

np.float64(nan)

In [210]:
np.emath.sqrt(-1)

np.complex128(1j)

28. how to get the dates of yesterday, today and tomorrow?

In [4]:
np.datetime64('today','D') - np.timedelta64(1,'D')

np.datetime64('2025-05-10')

In [11]:
np.datetime64('today','D')

np.datetime64('2025-05-11')

In [12]:
np.datetime64('today','D') + np.timedelta64(1,'D')

np.datetime64('2025-05-12')

29. How to get all the dates corresponding to the month of July 2016?

In [20]:
np.arange('2016-07', '2016-08',dtype = 'datetime64[D]')

array(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
       '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
       '2016-07-09', '2016-07-10', '2016-07-11', '2016-07-12',
       '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-16',
       '2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20',
       '2016-07-21', '2016-07-22', '2016-07-23', '2016-07-24',
       '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28',
       '2016-07-29', '2016-07-30', '2016-07-31'], dtype='datetime64[D]')

30. How to compute ((A+B)*(-A/2)) in place (without copy)?

In [28]:
A = np.ones(3)*1
B = np.ones(3)*2
C = np.ones(3)*3

In [29]:
np.add(A,B,out=B)

array([3., 3., 3.])

In [30]:
np.divide(A,2,out=A)

array([0.5, 0.5, 0.5])

In [31]:
np.negative(A,out = A)

array([-0.5, -0.5, -0.5])

In [32]:
np.multiply(A,B,out=A)

array([-1.5, -1.5, -1.5])

31. Extract the integer part of a random array using 5 different methods

In [56]:
arr = np.random.uniform(1,10,5)

In [57]:
arr

array([3.20641043, 3.05004296, 4.6395838 , 9.65650212, 3.5632298 ])

In [54]:
# 1.
np.floor(arr)

array([3., 7., 8., 5., 9.])

In [61]:
# 2.
arr - arr % 1

array([3., 3., 4., 9., 3.])

In [62]:
# 3.
np.ceil(arr) -1

array([3., 3., 4., 9., 3.])

In [63]:
# 4.
np.trunc(arr)

array([3., 3., 4., 9., 3.])

In [65]:
# 5.
arr.astype(int)

array([3, 3, 4, 9, 3])

32. Create a 5x5 matrix with row values ranging from 0 to 4.

In [67]:
np.zeros((5,5)) + np.arange(5)

array([[0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.]])

33. Consider a generator function that generates 10 integers and use it to build an array.

In [73]:
def generate():
  for x in range(10):
    yield x

In [79]:
np.fromiter(generate(),dtype =  int)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

34.  Create a vector of size 10 with values ranging from 0 to 1, both excluded.

In [88]:
np.linspace(0,1,11,endpoint = False)[1:]

array([0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
       0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091])

35. Create a random vector of size 10 and sort it.

In [89]:
arr = np.random.standard_normal(10)

In [90]:
arr

array([-0.62168451, -0.14727195, -0.53733508, -0.70865968,  0.98975114,
       -0.66217427, -0.09329463,  0.04227237,  1.49516894,  0.12464155])

In [91]:
arr.sort()

In [92]:
arr

array([-0.70865968, -0.66217427, -0.62168451, -0.53733508, -0.14727195,
       -0.09329463,  0.04227237,  0.12464155,  0.98975114,  1.49516894])

36. How to sum a small array faster than np.sum?

In [15]:
arr = np.arange(100)

In [20]:
%timeit arr.sum()

1.74 s  301 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [17]:
%timeit np.sum(arr)

5.06 s  1.03 s per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [18]:
%timeit sum(arr)

9.4 s  229 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [19]:
%timeit np.add.reduce(arr)

1.53 s  304 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [22]:
arr = np.arange(10)

In [23]:
%timeit arr.sum()

1.96 s  696 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [24]:
%timeit np.sum(arr)

4.47 s  1.12 s per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [25]:
%timeit sum(arr)

2.11 s  654 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [26]:
%timeit np.add.reduce(arr)

3.04 s  876 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

37. Consider two random array A and B, check if they are equal.

In [30]:
A = np.random.random(2)
B = np.random.random(2)

In [31]:
A==B

array([False, False])

38. Make an array immutable (read-only).

In [33]:
arr = np.zeros(10)
arr.flags.writeable = False

39. Consider a random 10x2 matrix representing cartesian coordinates, convert them to polar coordinates.

In [34]:
arr = np.random.random((10,2))

In [47]:
arr

array([[0.46852169, 0.49740491],
       [0.05008201, 0.57097512],
       [0.06357975, 0.94109895],
       [0.37778494, 0.50848611],
       [0.5645049 , 0.8582577 ],
       [0.66796487, 0.52131537],
       [0.76257633, 0.52235241],
       [0.39748608, 0.44610783],
       [0.5209998 , 0.73094246],
       [0.61312566, 0.1415511 ]])

In [40]:
X, Y = arr[:,0], arr[:,1]
R = np.sqrt(X**2+Y**2)
T = np.arctan2(Y,X)

In [42]:
print(R,T)

[0.68331854 0.57316733 0.9432442  0.63346632 1.02726436 0.84731741
 0.92432392 0.59750094 0.89761777 0.62925335] [0.81529134 1.48330712 1.50333979 0.93181594 0.9890037  0.66270805
 0.60057671 0.84297091 0.95154582 0.22689262]

In [49]:
np.vstack((R,T)).T

array([[0.68331854, 0.81529134],
       [0.57316733, 1.48330712],
       [0.9432442 , 1.50333979],
       [0.63346632, 0.93181594],
       [1.02726436, 0.9890037 ],
       [0.84731741, 0.66270805],
       [0.92432392, 0.60057671],
       [0.59750094, 0.84297091],
       [0.89761777, 0.95154582],
       [0.62925335, 0.22689262]])

In [48]:
np.hstack((R,T))

array([0.68331854, 0.57316733, 0.9432442 , 0.63346632, 1.02726436,
       0.84731741, 0.92432392, 0.59750094, 0.89761777, 0.62925335,
       0.81529134, 1.48330712, 1.50333979, 0.93181594, 0.9890037 ,
       0.66270805, 0.60057671, 0.84297091, 0.95154582, 0.22689262])

40. Create random vector of size 10 and replace the maximum value by 0.

In [62]:
arr = np.random.random(10)
arr

array([0.54847993, 0.61644592, 0.40517992, 0.88614407, 0.58718461,
       0.61770254, 0.10290467, 0.58086273, 0.38130682, 0.41486273])

In [63]:
arr[arr.argmax()] = 0

In [64]:
arr

array([0.54847993, 0.61644592, 0.40517992, 0.        , 0.58718461,
       0.61770254, 0.10290467, 0.58086273, 0.38130682, 0.41486273])

41. Create a structured array with x and y coordinates covering the [0,1]x[0,1] area.

In [75]:
arr = np.zeros((5,5), [('x',float),('y',float)])

In [76]:
arr

array([[(0., 0.), (0., 0.), (0., 0.), (0., 0.), (0., 0.)],
       [(0., 0.), (0., 0.), (0., 0.), (0., 0.), (0., 0.)],
       [(0., 0.), (0., 0.), (0., 0.), (0., 0.), (0., 0.)],
       [(0., 0.), (0., 0.), (0., 0.), (0., 0.), (0., 0.)],
       [(0., 0.), (0., 0.), (0., 0.), (0., 0.), (0., 0.)]],
      dtype=[('x', '<f8'), ('y', '<f8')])

In [78]:
arr['x'], arr['y'] = np.meshgrid(np.linspace(0,1,5), np.linspace(0,1,5))

In [79]:
arr

array([[(0.  , 0.  ), (0.25, 0.  ), (0.5 , 0.  ), (0.75, 0.  ),
        (1.  , 0.  )],
       [(0.  , 0.25), (0.25, 0.25), (0.5 , 0.25), (0.75, 0.25),
        (1.  , 0.25)],
       [(0.  , 0.5 ), (0.25, 0.5 ), (0.5 , 0.5 ), (0.75, 0.5 ),
        (1.  , 0.5 )],
       [(0.  , 0.75), (0.25, 0.75), (0.5 , 0.75), (0.75, 0.75),
        (1.  , 0.75)],
       [(0.  , 1.  ), (0.25, 1.  ), (0.5 , 1.  ), (0.75, 1.  ),
        (1.  , 1.  )]], dtype=[('x', '<f8'), ('y', '<f8')])

42. Given two arrays, X and Y, construct the Cauchy matrix C (Cij =1/(xi - yj)).

In [89]:
X = np.random.random(3)
Y = np.random.random(3)

In [90]:
M = np.subtract.outer(X,Y)
M

array([[-0.08642039, -0.198873  , -0.45901157],
       [ 0.2902309 ,  0.17777829, -0.08236027],
       [-0.17535401, -0.28780662, -0.54794518]])

In [91]:
np.linalg.det(M)

np.float64(5.812710341077742e-18)

43. Print the minimum and maximum representable value for each numpy scalar type.

In [92]:
for dtype in [np.int8, np.int32, np.int64]:
   print(np.iinfo(dtype).min)
   print(np.iinfo(dtype).max)
for dtype in [np.float32, np.float64]:
   print(np.finfo(dtype).min)
   print(np.finfo(dtype).max)
   print(np.finfo(dtype).eps)

-128
127
-2147483648
2147483647
-9223372036854775808
9223372036854775807
-3.4028235e+38
3.4028235e+38
1.1920929e-07
-1.7976931348623157e+308
1.7976931348623157e+308
2.220446049250313e-16

44. How to print all the values of an array?

In [93]:
Z = np.zeros((3,4))
print(Z)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

45. How to find the closest value (to a given scalar) in a vector?

In [94]:
scalar = 2
arr = np.random.random(10)
index  = np.abs(arr - scalar).argmin()
arr[index]

np.float64(0.9404591174898048)

46. Create a structured array representing a position (x,y) and a color (r,g,b).

In [98]:
arr = np.zeros(10,[('position',[('x',float),('y',float)]),
                   ('color',[('r',float),('g',float),('b',float)])])

arr

array([((0., 0.), (0., 0., 0.)), ((0., 0.), (0., 0., 0.)),
       ((0., 0.), (0., 0., 0.)), ((0., 0.), (0., 0., 0.)),
       ((0., 0.), (0., 0., 0.)), ((0., 0.), (0., 0., 0.)),
       ((0., 0.), (0., 0., 0.)), ((0., 0.), (0., 0., 0.)),
       ((0., 0.), (0., 0., 0.)), ((0., 0.), (0., 0., 0.))],
      dtype=[('position', [('x', '<f8'), ('y', '<f8')]), ('color', [('r', '<f8'), ('g', '<f8'), ('b', '<f8')])])